#boutonAjouter {
  background-color: #f8bbd0;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 10px;
}

h1 {
  display: inline;
}

#ecriture {
  font-style: oblique;
  font-family: serif;
}

#boutonEditer {
  background-color: #80cbc4;
}

#boutonSup {
  background-color: #d6d6d6;
}

#boutonDetail {
  background-color: #abdde5;
}
