<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div>

  <h1>ORIGAMI</h1>

  <button type="button" class="btn btn-info">Ajouter</button>

  <table class="table table-stripped mt-5">
    <thead>
    <tr>
      <th>IDENTIFIANT</th>
      <th>NOM</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><button class="btn btn-warning" (click)="edit(origami)">Modifier</button></td>
      <td><button class="btn btn-danger" (click)="delete(origami)">Supprimer</button></td>
    </tr>


    </tbody>
  </table>

</div>
