<div class="container">
  <h1>ORIGAMI</h1>  <button class="btn btn-primary" (click)="add()">Ajouter</button>


  <table class="table table-stripped mt-5">
    <thead>
    <tr>
      <th>IDENTIFIANT</th>
      <th>NOM</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><button class="btn btn-warning" (click)="edit(origami)">Modifier</button></td>
      <td><button class="btn btn-danger" (click)="delete(origami)">Supprimer</button></td>
    </tr>

    </tbody>
  </table>
</div>
