<div id="fondCategorie"></div>
<div class="container">
  <br>
  <h1>Detail catégorie {{categorie.nom}}</h1>
  <br>
  <br>
  <section>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Nom</th>
        <th>Parent</th>
      </tr>
      </thead>
      <tbody>
      <td>{{categorie.id}}</td>
      <td>{{categorie.nom}}</td>
      <td *ngIf="categorie.superCat">{{categorie.superCat.nom}}</td>

      </tbody>
    </table>
  </section>
  <br/>
  <section *ngIf="categorieWithChild.sousCats">

    <table class="table table-striped">
      <thead>
      <th>Sous-catégorie(s)</th>
      </thead>
      <tbody>
      <tr *ngFor="let categorie of categorieWithChild.sousCats">
        <td>{{categorie.nom}}</td>
      </tr>
      </tbody>
    </table>


  </section>

  <br/>
  <section *ngIf="categorieWithChild.origamis">

    <table class="table table-striped">
      <thead>
      <th>Origami(s)</th>
      </thead>
      <tbody>
      <tr *ngFor="let origami of categorieWithChild.origamis">
        <td>{{origami.nom}}</td>
      </tr>
      </tbody>
    </table>


  </section>


</div>
