<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Nom</th>
      <th>Temps de réalisation</th>
      <th>Nombre de feuilles</th>
      <th>Niveau</th>
      <th>Note</th>
      <th>Actif</th>
      <th>Youtube</th>
      <th>Image de l'Origami</th>

      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td>{{origami.id}}</td>
      <td>{{origami.nom}}</td>
      <td>{{origami.tempsRea}}</td>
      <td>{{origami.nbFeuille}}</td>
      <td>{{origami.niveau}}</td>
      <td>{{origami.note}}</td>
      <td>{{origami.actif}}</td>
      <td>{{origami.youTube}}</td>
      <td>{{origami.imageOri}}</td>

    </tr>

    </tbody>
  </table>



  <h2>Liste des étapes</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Numéro Etape</th>
      <th>Description</th>
      <th>Image Etape</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let etape of origami.etapes">
      <td>{{origami.etape.id}}</td>
      <td>{{origami.etape.numeroEtape}}</td>
      <td>{{origami.etape.description}}</td>
      <td>{{origami.etape.imageEtape}}</td>

    </tr>
    </tbody>
  </table>

</div>






<div class="container" id="ecriture">
  <br>
  <h1>ORIGAMI</h1>

  <button id="boutonAjouter" type="button" class="btn btn">AJOUTER UNE ETAPE</button>
  <br>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>IDENTIFIANT</th>
      <th>NUMERO DE L'ETAPE</th>
      <th>DESCRIPTION</th>
      <th>IMAGE DE L'ETAPE</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let origami of list()" >
      <td>{{origami.etape.id}}</td>
      <td>{{origami.etape.numeroEtape}}</td>
      <td>{{origami.etape.description}}</td>
      <td>{{origami.etape.imageEtape}}</td>
      <td><a id="boutonEditer" class="btn btn" (click)="edit(origami.id)">Editer</a></td>
      <td><a id="boutonDetail" class="btn btn" >Détail</a></td>
      <td><a id="boutonSup" class="btn btn" (click)="delete(origami.id)">Supprimer</a></td>
    </tr>

    </tbody>
  </table>

</div>
